
@import '../../styles.scss';

body
{
    font-family: $secondFamily;
}

.head
{
    background-image: url(../../assets/images/food.jpg);
    background-size: 100% 100%;
    height: 560px;
    font-family: $secondFamily;
}

.head-caption
{

    color: $thiredColor;
    h1 
    {
        font-size: 70px;
        font-weight: 900;
    }
    p {
        font-size: 30px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        
    }

}

.about
{
    .about-caption h2
    {
        font-weight: 900;
        font-size: 39px;
        color: #4b4741;
    }
    .about-caption p
    {
        font-weight: 400;
        font-size: 20px;
        color: #828281;
        font-family: josefin sans,sans-serif;
    }

    .about-caption button 
    {
        background-color: $brdrColor;
        font-size: 16px;
        font-weight: 700;

    }
    .about-caption button:hover
    {
        background-color: orange;
    }

}

.special
{
    background-image: url(../../assets/images/services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
  
}
.fixid-content 
{

      h1 
    {
         font-weight:$fweight+200 ;
    }
      p
    {
       font-size: 22px;
    }
    .mini
    {
    width: 100px;
    height: 3px;
    background-color: $secondColor;
    margin-bottom: 20px;
    }

}

.special-caption
{
    text-align: center;
    
}

.special-caption img 
{
    position: relative;
    left: 45%;
}
.special-content 
{
     padding-top: 10px;
     overflow: visible !important;
}
.special-caption p
{
 
    color: #85898c;
    padding-bottom: 50px !important;
    

}

/*start section team */
.team 
{
    .team-caption
    {
        h6
        {
            font-weight: $fweight+200;
        }
        p
        {
            font-weight: $fweight;
            position: relative;
            bottom: 5px;
        }
        .team-ico i:hover
        {
            color: $secondColor;

        }

         
        .brdr
        {
            
            border-bottom: 1px solid  #dcdddd;
        }
    }
}
/*end section team */

/*start section testimonials */

.testimonials
{ 
    height: 600px;
    background-image: url(../../assets/images/bg5.png);
    background-size: 100% 100%;


    .testimonial-caption 
    {
        font-family: $secondFamily;

        img 
        {
            position: relative;
            left: 50%;
        }
        
        p 
        {
            font-size: $fontSize;
            font-weight:$fweight + 200;
            letter-spacing: 1px;
            
        }
        p>span 
        {
            font-size: 18px ;
            font-weight: normal;
        }
    }

}


/*end section testimonials */


.img-area 
{
    height: 600px;
    background-image: url(../../assets/images/bg5.png);
    background-size: 100% 100%;
    p 
    {
        font-size: $fontSize;
        font-weight:$fweight + 200;
        letter-spacing: 1px;
    }
    p>span 
    {
        font-size: 18px ;
        font-weight: normal;
    }
}


/*start section insta */

.insta-caption
{
    
    .sub-caption p 
    {
        font-size: 45px;
        font-weight: 300;
        font-family: $secondFamily;
    }
    div .p 
    {
        position: relative;
        top: 17px;
        font-size: 25px;
        
    }
}
.registers
{
    width: 100% !important;
    .inpt-caption
    {
        outline: none;
        height: 47px;
        width: 25%;
        border: 2px solid $brdrColor;
        
    }
    .register
    {
        background-color: $brdrColor;
        padding:10px 20px;
        border: none;
        border: 2px solid $brdrColor;
    }
    .register:hover
    {
        background-color: orange;
    }
}

.bg
{
    background-color: $bgColor;
}

/*end section insta*/


/*start media query*/
@media (max-width : 1200px) and (min-width : 999px)
{
    .testimonials
    {
        width: 100%;
        height: auto;
        
        .testimonial-caption p 
        {
            width: 100%;
            font-size: 28px;
            
        }
    }
}






@media (max-width : 992px) and (min-width : 768px)
{
    .special
    {
        text-align: center;
        height: auto;

        .special-caption
        {
           width: 50% !important;
        }
        .special-content 
       {
           position: relative !important;
           left: 20px;
       }
    }
    .team-caption
    {
        margin-bottom: 20px;
    }

    .testimonials
   {
       width: 100%;
       height: auto;
       .testimonial-caption  p
       {
           width: 100%;
           font-size: 19px !important;
            
       }
   }

   .insta-caption
    {
        text-align: center;
        .p 
        {
            padding-left: 25px;
        }
    }
    .registers
    {
        margin:15px 0px;
        display: flex;
        justify-content: center !important;

        .inpt-caption
        {
            width: 40%;
            
        }
        
    }
}

@media (max-width : 768px) and (min-width : 576px)
{
   .special
   {
       text-align: center;
       height: auto;
       display: flex;
       justify-content: center;

       .special-caption
       {
           width: 75% !important;
       }
       .special-content 
       {
           position: relative !important;
           left: 20px;
       }
   }
   
   .team-caption
    {
        margin-bottom: 20px;
    }

   .testimonials
   {
       width: 100%;
       height: auto;
       .testimonial-caption p 
       {
           width: 100%;
           font-size: 17px;
           padding-left: 10px;
           
       }
   }

   .insta-caption
    {
        text-align: center;
        .p 
        {
            padding-left: 25px;
        }
    }
    .registers
    {
        margin:15px 0px;
        display: flex;
        justify-content: center !important;

        .inpt-caption
        {
            width: 40%;
            
        }
        
    }
}

@media (max-width : 576px) 
{
    .special
    {
        text-align: center;
        height: auto;
    
       .special-caption
       {
        width: 50% !important;

       }
       .special-content 
       {
           position: relative !important;
           left: 15px;
       }
    }

    .team-caption
    {
        margin-bottom: 20px;
    }

    .testimonials
   {
       width: 100%;
       height: auto;
       .testimonial-caption p 
       {
           width: 100%;
           font-size: 18px;
           
       }
   }

   .insta-caption
    {
        text-align: center;
        .p 
        {
            padding-left: 25px;
        }
    }
    .registers
    {
        margin:15px 0px;
        display: flex;
        justify-content: center !important;

        .inpt-caption
        {
            width: 40%;
            
        }
        
    }
}

/*end media query*/
@media (max-width: 450px) and (min-width:0px)
{
    .head-caption
    {
        h1
        {
            font-size: 40px !important;

        }
        p 
        {
            font-size: $secondFont;
        }

    }
    .special
    {
        .fixid-content
        {
            h1
            {
               font-size: 30px !important;

            }
            p 
            {
               font-size: 17px;
            }
        }
        .special-caption
        {
            width: 50% !important;
            img 
            {
                left: 40%;
            }
            h3 
            {
                font-size: 20px !important;
            }
        }

    }
    .fixid-content
    {
        h1
        {
           font-size: 30px !important;

        }
        p 
        {
           font-size: 17px;
        }
    }
    .testimonials
    {
        width: 100%;
        height: auto;
        .testimonial-caption img 
        {
            left: 45% !important;
        }
        .testimonial-caption p 
        {
            width: 100%;
            font-size: 16px;
            
        }
    }
    .reserv-footer
        {
            p
            {
                font-size: 16px !important;
                span 
                {
                    font-size: 12px !important;

                }

            }
            
        }
    .insta-caption
    {
        .sub-caption p 
        {
            font-size: $secondFont +8 !important;
        }
        p
        {
            font-size: 17px !important;
        }
        
    }

    .registers
    {
        .inpt-caption
        {
            width: auto !important;
        }
    }    
}  