



@import '../../styles.scss';

body
{
    font-family: $secondFamily;
}
/* start header*/
.head
{
    background-image: url(../../assets/images/food.jpg);
    background-size: 100% 100%;
    height: 560px;
    font-family: $secondFamily;
}

.head-caption
{

    color: $thiredColor;
    h1 
    {
        font-size: 70px;
        font-weight: 900;
    }
    p {
        font-size: 30px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        
    }

}

/* end header*/

/*start section contacts*/

.contacts
{
    .contacts-content
    {
        h3
        {
            font-weight: 600;
        } 


        .i-cont
        {
            p 
            {
                font-size: 16px;
                font-weight: 200;
                color: #6b6b6b;;
                font-weight: 600;
            }
            p i 
            {
                color: $secondColor;
            }
        }
    
    
    }
    .contacts-content-o 
    {
        p 
        {
            color: #6b6b6b;
            font-weight: 500;
            font-size: 18px;
        }
        .position-relative
        {
            bottom: 10px;
        } 
    }
    .social-icon i
    {
        background-color: #262526;
        border-radius: 50%;
    }

    .social-icon i:hover
    {
        background-color:$secondColor;
       color: #000;
    }
    
   



}

.contacts-caption
{
    .input-cont
    {
        background-color: #f3f1ed !important;
        outline: none;
        position: relative;
        width: 85%;
        border: none !important;
        height: 50px;
    }
    textarea
    {
        
        font-size: 18px;
        font-weight: 400;
        min-height: 150px;
    }

    .btn-default
    {
        background-color: $secondColor !important;
        font-size: 20px;
        font-weight: 500;
        border: 1px solid orange;
    }

    .btn-default:hover
    {
        background-color: orange !important;
    }
    
} 
     
    

/*end section contacts*/


/* start section insta*/

.insta-caption
{
    
    .sub-caption p 
    {
        font-size: 45px;
        font-weight: 300;
        font-family: $secondFamily;
    }
    div .p 
    {
        position: relative;
        top: 17px;
        font-size: 25px;
        
    }
}
.registers
{
    width: 100% !important;
    .inpt-caption
    {
        outline: none;
        height: 47px;
        width: 25%;
        border: 2px solid $brdrColor;
        
    }
    .register
    {
        background-color: $brdrColor;
        padding:10px 20px;
        border: none;
        border: 2px solid $brdrColor;
    }
    .register:hover
    {
        background-color: orange;
    }
}

.bg
{
    background-color: $bgColor;
}

/* end section insta */

/*start media query*/
@media (max-width :992px) and (min-width : 768px)
{
    .insta-caption
    {
        text-align: center;
        .p 
        {
            padding-left: 25px;
        }
    }
    .registers
    {
        margin:15px 0px;
        display: flex;
        justify-content: center !important;

        .inpt-caption
        {
            width: 40%;
            
        }
        
    }
}

@media (max-width :768px) and (min-width : 576px)
{
    .insta-caption
    {
        text-align: center;
        .p 
        {
            padding-left: 25px;
        }
    }
    .registers
    {
        margin:15px 0px;
        display: flex;
        justify-content: center !important;

        .inpt-caption
        {
            width: 40%;
            
        }
        
    }
}

@media (max-width :576px) 
{
    .insta-caption
    {
        text-align: center;
        .p 
        {
            padding-left: 25px;
        }
    }
    .registers
    {
        margin:15px 0px;
        display: flex;
        justify-content: center !important;

        .inpt-caption
        {
            width: 40%;
            
        }
        
    }
    .input-cont
    {
        width: 100% !important;
    }
}

/*end media query*/

@media (max-width: 450px) and (min-width:0px)
{
    .head-caption
    {
        h1
        {
            font-size: 40px !important;

        }
        p 
        {
            font-size: $secondFont;
        }

    }
    .reserv-footer
        {
            p
            {
                font-size: 16px !important;
                span 
                {
                    font-size: 12px !important;

                }

            }
            
        }
    .insta-caption
    {
        .sub-caption p 
        {
            font-size: $secondFont +8 !important;
        }
        p
        {
            font-size: 17px !important;
        }
        
    }

    .registers
    {
        .inpt-caption
        {
            width: auto !important;
        }
    }    
}  